<div class="container" style="margin-top: 80px; margin-bottom: 40px;">
	<div class="row">
		<div class="col-md-7">

		</div>
		<div class="col-md-5">
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 style="text-align:center;"><%= t("confirmations.title")%></h1>
				</div>
				<div class="panel-body">
					
					<%= devise_error_messages! %>
					
					<div class="row field">
						<div class="col-md-12">
							<%= f.label :email %><br />
							<%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Escribe tu correo electrónico" %>
						</div>
					</div>

					<div class="row field">
						<div class="col-md-12">
							<%= f.submit t("confirmations.main_action"), class: "btn btn-primary btn-block btn-lg" %>
						</div>
					</div>
					<% end %>

					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>


