<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center text-banner" style="background-color: white; margin-top: 100px;">
        <h1>Conviertete en un vendedor imparable</h1>
        <p>Un CRM de ventas eficiente y efectivo, has más con menos.</p>
        <div class="col-md-4 col-md-offset-4">
          <button type="button" class="btn btn-principal btn-block" data-toggle="modal" data-target="#myModalAccess">Pruébalo gratis</button>
          <br>
        </div>
        <div class="col-md-12">
          <p><small style="font-size: 14px;">Acceso inmediato. No requiere tarjeta de crédito</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid big-image">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag "banner.png", style: "width: 100%;" %>
    </div>
    <div class="badge-item">
      <div class="image-star">
      </div>
      <small class="badge-text">
        <b>Ahora con el nuevo plan Gold</b>
      </small>
    </div>
  </div>
</div>

<div class="container-fluid logos">
  <ul class="list-inline text-center">
    <li>
      <%= image_tag "logos/amazon.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/vimeo.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/desigual.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/amazon.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/airbnb.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/desigual.png", style: "width: 100%;" %>
    </li>
    <li>
      <%= image_tag "logos/amazon.png", style: "width: 100%;" %>
    </li>
  </ul>
</div>


<div class="block-content-gray">
  <div class="container text-center">
    <div class="content-wrapper">
      <h2 class="title-principal">Creemos que el poder viene de la simplicidad </h2>
      <p>Así que hemos diseñado y refinado cada elemento para que se enfoque exclusivamente en acciones que llevan a cerrar negocios</p>
      <div class="relative text-center">
        <a class="btn-play">
          <i class="fa fa-play" aria-hidden="true"></i>
        </a>
        <small>Vista rápida de Pipedrive</small>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <figure class="white-box">
          <div class="box-inner">
            <h4>Deja de perder tiempo en gestión</h4>
            <%= image_tag "card1.png" %>
            <p>Tus correos electrónicos, llamadas y progreso se monitorean automáticamente. Pipedrive despeja el camino para que puedas centrarte en hacer lo que se te da mejor. </p>
          </div>
        </figure>
      </div>
      <div class="col-md-6 col-sm-6">
        <figure class="white-box">
          <div class="box-inner">
            <h4>Una herramienta, un proceso</h4>
            <%= image_tag "card2.png" %>
            <p>Al encender Pipedrive, siempre acabarás en una vista única y optimizada de tu proceso de ventas. Te ofrece claridad y consigue que tu equipo esté en la misma página.</p>
          </div>
        </figure>
      </div>
      <div class="col-md-6 col-sm-6">
        <figure class="white-box">
          <div class="box-inner">
            <h4>Sabe en lo que tienes que trabajar</h4>
            <%= image_tag "card3.png" %>
            <p>Pipedrive centra tu mente y esfuerzos en el embudo de manera que puedas ver dónde te encuentras y qué tienes que hacer a continuación.</p>
          </div>
        </figure>
      </div>
      <div class="col-md-6 col-sm-6">
        <figure class="white-box">
          <div class="box-inner">
            <h4>Efectúa un seguimiento del progreso de tus ventas</h4>
            <%= image_tag "card4.png" %>
            <p>Dado que el embudo es tu punto de partida, Pipedrive mantiene tus acciones al punto y no fuera del objetivo, así como tus objetivos realistas y no idealistas.</p>
          </div>
        </figure>
      </div>
    </div>
  </div>

  <div class="container text-center cont-block-button">
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <button type="button" class="btn btn-principal btn-block">Pruébalo gratis</button>
        <p>Acceso inmediato. No requiere tarjeta de crédito</p>
      </div>
    </div>
  </div>

</div>


<div class="different">
  <div class="container text-center">
    <div class="content-wrapper">
      <h2 class="title-principal">Lo que nos hace diferentes </h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="box-gray">
          <div class="box-inner">
            <button class="icon-check-bg-principal-color">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <h4>Fácil de configurar</h4>
            <p>El sitio líder en análisis de software, G2Crowd, valora Pipedrive como la herramienta más sencilla de ejecutar. Con nosotros no existe ninguna lista de funciones de 200 páginas, ni ninguna formación de dos días de duración requerida. Solo tienes que iniciar sesión, rellenar tu embudo y empezar a vender.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box-gray">
          <div class="box-inner">
            <button class="icon-check-bg-principal-color">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <h4>Nuestros clientes nos adoran</h4>
            <p>Creemos en la venta. Está en nuestro ADN y la llevamos viviendo y respirando desde hace décadas. Creamos un producto que hace que la venta sea algo bonito. Es visual, intuitivo, personalizable, y nuestros usuarios realmente deciden permanecer conectados constantemente. Eso sí que es bonito.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="box-gray">
          <div class="box-inner">
            <button class="icon-check-bg-principal-color">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <h4>Totalmente conectado</h4>
            <p>Desde propuestas para firmas de correo electrónico a la valoración automática de clientes potenciales. Con más de 100 de tus aplicaciones e integraciones favoritas disponibles en el marketplace de Pipedrive, puedes hacerte con todo lo que necesitas para vender con seguridad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center container-join">
  <div class="content-wrapper">
    <h2 class="title-principal">Únete a más de 70,000 empresas </h2>
  </div>
  <div class="row">
  <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-principal btn-block" data-toggle="modal" data-target="#myModalAccess">Pruébalo gratis</button>
      <br>
      <p>Acceso inmediato. No requiere tarjeta de crédito</p>
    </div>
  </div>
</div>




<div class="modal fade modal-access" id="myModalAccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Prueba Pipedrive gratis</h4>
        <small>Acceso inmediato. No se requiere tarjeta de crédito.</small>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form>
              <div class="form-group">
                <input type="email" id="email" class="form-control" required>
                <label class="form-control-placeholder" for="email">Correo electrónico</label>
              </div>
              <button type="submit" class="btn btn-principal btn-block">Obtén acceso</button>
            </form>

            <div class="cont-line-sep">
              <div class="line-sep"></div>
              <small>o</small>
              <div class="line-sep"></div>
            </div>

            <a class="btn btn-social btn-block text-center">
              <i class="fa fa-google" aria-hidden="true"></i>
              Acceso rápido con google
            </a>
            <a class="btn btn-social btn-block text-center">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              Acceso rápido con facebook
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
